<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="agregar()">
        <ion-icon name="add"> </ion-icon>
        <ion-label>Agregar tarea</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de tareas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full">
        <ion-item *ngFor="let tarea of tareas" button>
          <ion-label>
            <b>{{ tarea?.nombre }}</b>
            <p>{{ tarea.detalle }}</p>
          </ion-label>
          
          <ion-checkbox slot="end" color="success" (ionChange)="cambiarEstado(tarea)" [(ngModel)]="tarea.estado"></ion-checkbox>
          <ion-buttons slot="end">
            <ion-button (click)="eliminar(tarea)">
              <ion-icon name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
